.navbarA a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0%;
  left: 0;
  height: 2px;
  background-color: #60f318;

  transition: all 0.5s;
}

.navbarA a:hover::before {
  width: 100%;
}
