.react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 30px;
  outline: none;
}

.react-tabs__tab {
  font-size: 20px;
}

.react-tabs__tab:focus {
  font-size: 20px;
  outline: none;
}

.react-tabs__tab--selected {
  border: none;
  color: #4bb8f2;
  font-weight: 600;
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid #60f318;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.react-tabs__tab--selected:hover {
  box-shadow: 0 0 10px #60f318;
}
