.liquid .liquid-glass-card {
  position: relative;
  isolation: isolate;
  z-index: 1;
  box-shadow: 0px 6px 20px -50px rgba(255, 255, 255, 3);
  background: rgba(255, 255, 255, 0.01);
}
.light .liquid-glass-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgb(0, 0, 0, 0.05);
}
/* distortion layer */
.liquid .liquid-glass-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0);
  filter: url(#glass-distortion);
  -webkit-filter: url(#glass-distortion);
}

/* blur + tint layer */
.liquid .liquid-glass-card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  isolation: isolate;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  filter: url(#glass-distortion);
  -webkit-filter: url(#glass-distortion);
}
.liquid .card-content {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.03), 0 2px 6px rgba(0, 0, 0, 0.08),
    0 0 12px rgba(0, 0, 0, 0.15),
    inset 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.02),
    inset -3px -3px 0.5px -3.5px rgba(255, 255, 255, 0.15),
    inset 1px 1px 1px -0.5px rgba(255, 255, 255, 0.1),
    inset -1px -1px 1px -0.5px rgba(255, 255, 255, 0.1),
    inset 0 0 6px 6px rgba(255, 255, 255, 0.01),
    inset 0 0 2px 2px rgba(255, 255, 255, 0);
  z-index: 10;
  width: 100%;
  height: 100%;
}

.card-content,
.liquid-glass-card::before,
.liquid-glass-card::after {
  border-radius: inherit;
}

.liquid-glass-card::before,
.liquid-glass-card::after {
  pointer-events: none;
}
